<template name="punishment_form">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-2">
      {{#autoForm schema=schema doc=selectedPunishment novalidate="novalidate"}}
        {{afFieldInput 'userId' type="hidden" value=userId}}
        <div class="form-group{{#if afFieldIsInvalid 'name'}} has-error{{/if}}">
          <label class="control-label">I want to avoid</label>
          {{afFieldInput 'name' placeholder=randomNamePlaceholder class="form-control"}}
          {{#if afFieldIsInvalid 'name'}}
            <span class="help-block">{{afFieldMessage 'name'}}</span>
          {{/if}}
        </div>
        <div class="form-group{{#if afFieldIsInvalid 'dollars'}} has-error{{/if}}">
          <label class="control-label">Starting punishment amount</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            {{afFieldInput 'dollars' placeholder="1" value="1" class="form-control"}}
          </div>
          {{#if afFieldIsInvalid 'dollars'}}
            <span class="help-block">{{afFieldMessage 'dollars'}}</span>
          {{/if}}
        </div>
        <div class="form-group{{#if afFieldIsInvalid 'increment'}} has-error{{/if}}">
          <label class="control-label">Increment punishment on each offence by</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            {{afFieldInput 'increment' value="1" class="form-control"}}
          </div>
          {{#if afFieldIsInvalid 'dollars'}}
            <span class="help-block">{{afFieldMessage 'dollars'}}</span>
          {{/if}}
        </div>
        <div class="form-group{{#if afFieldIsInvalid 'description'}} has-error{{/if}}">
          <label class="control-label">Optional words of inspiration</label>
          {{afFieldInput 'description' rows=5 placeholder="You can do it!"}}
          {{#if afFieldIsInvalid 'description'}}
            <span class="help-block">{{afFieldMessage 'description'}}</span>
          {{/if}}
        </div>
        {{#if newPunishment}}
          <button type="submit" class="btn btn-primary btn-lg insert">Save</button>
        {{else}}
          <button type="submit" class="btn btn-primary btn-lg update">Update</button>
        {{/if}}
      {{/autoForm}}

      <hr>

      {{#unless newPunishment}}
        {{#autoForm schema=schema doc=selectedPunishment}}
        <div class="text-center">
          <button type="submit" class="btn btn-danger btn-sm remove">Delete</button>
        </div>
        {{/autoForm}}
      {{/unless}}
    </div>
  </div>
</template>
