<template name="punishments_index">

  <h1>
    <small>
      Your soon to be gone
    </small>
    Problems
  </h1>

  <ul class="punishment_list">
  {{#each punishments}}
    <li>
      <a href="{{pathFor 'punishments_show'}}">
        <span class="name">{{name}}</span>
        <span class="dollars">${{dollars}}</span>
      </a>
    </li>
  {{/each}}
    <li>
      <a href="{{pathFor 'punishments/new'}}" class="new">
        <span class="name">Mo Problems</span>
        <span class="dollars">Mo Money</span>
      </a>
    </li>
  </ul>
</template>
