<template name="punishments_show">
  <div class="punishment">
    {{#with punishment}}
      <div class="title_container">
        <div class="pull-left">
          <a href="/punishments">
            ◀
          </a>
        </div>
        <h1>{{name}}</h1>
        <div class="pull-right">
          <a href="/punishments/{{_id}}/edit">
            Edit
          </a>
        </div>
      </div>

      <p>{{description}}</p>
      <p>
        ${{dollars}}
      </p>
      <p>
        <button class="btn btn-punish punish">Punish</button>
      </p>
      {{#if occurrences}}
        <ul class="list-group">
          {{#each occurrences}}
            <li class="list-group-item">
              {{format_date this}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{/with}}
  </div>
</template>
