<template name="navbar">
  <div class="navbar" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dollar Punishment</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#if currentUser}}
        <li><a href="{{pathFor 'punishments/index'}}">Your Problems</a></li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>{{loginButtons}}</li>
      </ul>
    </div>
  </div>
</template>
